# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js
yarn.lock
**/yarn.lock

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage
__tests__
jest.config.js

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist

# Docker
Dockerfile
.dockerignore

# VS Code
.vscode/

# Git
.git
.gitignore

# Uploads (will be mounted as volume)
backend/uploads/*
!backend/uploads/.gitkeep


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Ignore npm lock file
package-lock.json

# Ignore Yarn lock if using npm in a monorepo
yarn.lock